body {
  overflow: hidden;
}

img {
  max-width: 25%;
  height: auto;
}

.content {
  margin: 20px;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand {
  margin-left: 20px;
}

.navbar-right {
  justify-content: flex-end;
  margin-right: 20px;
}